#Thungay {
    background-color: yellow;
    width: 150px;
    height: 40px;
    border: 1;
}

.title {
    width: 1000px;
    color: blue;
}
#table2 {
    text-align: center;
}
#thungay2 {
    background-color: yellow;
}
#hang2 {
    background-color: orange;
}